.App {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(52, 187, 34, 0.89);
}

header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 1rem;
  width: 90%;
}

.headImg {
  height: 5rem;
  width: 5rem;
}

h1 {
  color: aliceblue;
}

hr {
  border: 1px solid #fff;
  margin: 1rem 0;
}

section {
  width: 94%;
  margin: 0 3%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border: 1px solid rgb(10, 35, 56);
  width: 20%;
  border-radius: 8% 8% 0 0;
  margin: 2%;
}

img {
  width: 100%;
  height: 70%;
}

h4 {
  height: 10%;
  margin: 10px;
}

select {
  width: 101%;
  background-color: aliceblue;
  border: 1px solid #000;
  height: 10%;
}

a {
  width: 100%;
  height: 10%;
  border: 1px solid rgb(10, 35, 56);
  background-color: rgb(10, 35, 56);
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

thead, tbody {
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

td {
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: anywhere;
}

th, td {
  width: 10%;
}

table, th, td {
  border:1px solid #fff;
  color: #fff;
}

.clubLogos {
  width: 6rem;
  height: 6rem;
}

.backA {
  width: 15%;
  font-size: 2rem;
  margin: 3%;
  height: 2.5rem;
}

.end {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  header {
    margin: 0 3%;
    width: 93%;
  }

  .headImg {
    height: 2.5rem;
    width: 2.5rem;
  }

  h1 {
    font-size: 1rem;
  }

  section {
    width: 100%;
    margin: 0;
  }

  form {
    width: 40%;
    border-radius: 8% 8% 0 0;
    margin: 2%;
  }

  th, td {
    font-size: 0.7rem;
  }

  th {
    font-weight: normal;
  }

  .clubLogos {
    width: 2rem;
    height: 2rem;
  }

  .backA {
    font-size: 1rem;
  }

}
